{{#d-modal-body title=(theme-prefix 'coupon.title') class="coupon-modal-body"}}
  <div class="coupon-content">
    <img src="{{theme-setting 'coupon_image'}}"/>
    <h2>{{theme-i18n "coupon.secondary_title"}}</h2>
    <p>{{theme-i18n "coupon.description"}}</p>
    <div class="copy-coupon-codes">
      {{#each couponLinks as |cl|}}
        <div class="coupon-contents">
          <h2><a href={{html-safe cl.webshop}}>{{html-safe cl.title}} {{d-icon "external-link-alt"}}</a></h2>
          <p>{{html-safe cl.subtitle}} <a href={{html-safe cl.info}}>{{d-icon "info-circle"}}</a></p>
          <div class="coupon-code-field">
            {{input
              name="coupon-code"
              class=cl.class
              value=cl.text
              readonly=true
            }}
            {{copy-button class=copyClass selector=(concat 'input.' cl.class) icon=copyIcon action=(action "copy")}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}
