{{#d-modal-body title=(theme-prefix 'coupon.title') class="coupon-modal-body"}}
  <div class="coupon-content">
    <img src="{{theme-setting 'coupon_image'}}"/>
    <h2>{{theme-i18n "coupon.secondary_title"}}</h2>
    <p>{{theme-i18n "coupon.description"}}</p>
    <div class="copy-coupon-codes">
      {{#each couponLinks as |cl|}}
        <div class="coupon-contents">
          <h2>{{html-safe cl.title}}</h2>
          <p>{{html-safe cl.subtitle}}</p>
          {{input
            name="coupon-code"
            class=cl.class
            value=cl.text
            readonly=true
          }}
          {{copy-button selector=(class cl.class) copied=(action "copied")}}
        </div>
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}
